@model Group_I_M32COM.DbTableModel.Boat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Boat</h4>
    <hr />
    @foreach (var boat_image in Model.Boat_Medias)
    {
        <img src="@Url.Content(boat_image.Boat_media_url)" class="img-fluid img-thumbnail" width="200" height="200" alt="Responsive image">
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Boat_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boat_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Boat_top_speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boat_top_speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Boat_weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boat_weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Boat_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Boat_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
