@model IEnumerable<Group_I_M32COM.DbTableModel.Members>

@{
    ViewData["Title"] = "Team Members";
    Layout = "~/Views/Competitor/_EventLayout.cshtml";
}

<h2>Team Members</h2>
<h4>Available slots left: @ViewBag.Slots</h4>

@if (ViewBag.Slots > 0)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <p>
        You have reached the maximum limit of crew allocation
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Member_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated_At)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
