@model IEnumerable<Group_I_M32COM.Models.User_RoleModel>

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Users</h2>
<h4>No of Users: @Model.Count()</h4>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a asp-action="Create"><button type="button" class="btn btn-outline-secondary">Add Admin Users</button></a>
    </div>
    <form asp-controller="Admin" asp-action="SearchUser" method="get">
        <div class="input-group">
            <div class="input-group mb-3">
                <input type="text" name="SearchString" class="form-control" placeholder="Search User" aria-label="Search User" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
<table id="mainTableid" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Full_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login_Status)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Full_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created_At)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Login)
                </td>
                <td>
                    @if (item.Login_Status == true)
                    {
                        <p>Online</p>
                    }
                    else
                    {
                        <p>Offline</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.User_Id" class="badge badge-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.User_Id" class="badge badge-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.User_Id" class="badge badge-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
