@model IEnumerable<Group_I_M32COM.DbTableModel.Boat_crew>

@{
    ViewData["Title"] = "Boat Team Dashboard";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Boat Team</h2>
<h4>No of Boat Teams: @Model.Count()</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boat_crew_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boat_crew_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boat_crew_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boat_crew_allocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Boat_crew_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boat_crew_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boat_crew_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boat_crew_allocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_At)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
