@model IEnumerable<Group_I_M32COM.DbTableModel.Boat>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://www.solidbackgrounds.com/images/950x350/950x350-paynes-grey-solid-color-background.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to the remote boat racing club to explore the available events and calendars and meet a team of leaders.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.solidbackgrounds.com/images/950x350/950x350-paynes-grey-solid-color-background.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Volunteer and assemble and participate in the upcoming events.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.solidbackgrounds.com/images/950x350/950x350-paynes-grey-solid-color-background.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Check in the calendar to view the events registered.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 class="text-center">List of boats that participate in our events</h2>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                        <div class="card">
                            @foreach (var boat_image in item.Boat_Medias)
                            {
                                if (boat_image.Boat_media_url != null)
                                {
                                    <img class="card-img-top" src="@Url.Content(boat_image.Boat_media_url)">
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/images/boat_placeholder.png">
                                }
                            }
                            <div class="card-block">
                                <h4 class="card-title"><strong>Boat name: </strong><br />@Html.DisplayFor(modelItem => item.Boat_name)</h4>
                                <div class="meta">
                                    <a href="#"></a>
                                </div>
                                <div class="card-text">
                                    <p><strong>Weight: </strong><br /> @Html.DisplayFor(modelItem => item.Boat_weight)</p>
                                    <p><strong>Speed: </strong><br /> @Html.DisplayFor(modelItem => item.Boat_top_speed)</p>
                                    <p><strong>Description: </strong><br />@Html.DisplayFor(modelItem => item.Boat_description)</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="float-right"><strong>Category: </strong><br />@Html.DisplayFor(modelItem => item.Boat_Types.Boat_class_type)</span>
                                <br />
                                <span><i class=""></i><strong>Sub Category: </strong><br />@Html.DisplayFor(modelItem => item.Sub_Boat_Types.Sub_boat_class_type)</span>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4>Future upcoming events not available at the moment</h4>
            }
        </div>
    </div>
</div>
