@model Group_I_M32COM.Models.User_RoleModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Competitor/_EventLayout.cshtml";
}

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

