@model IEnumerable<Group_I_M32COM.DbTableModel.Event_participation>

@{
    ViewData["Title"] = "Events Participated";
    Layout = "~/Views/Competitor/_EventLayout.cshtml";
}

<h2>Events Participated</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.Event_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points_awarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Event_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.points_awarded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_At)
            </td>
        </tr>
}
    </tbody>
</table>
