@model Group_I_M32COM.DbTableModel.Boat_crew_leader

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Boat_crew_leader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User_Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
