@model IEnumerable<Group_I_M32COM.DbTableModel.Event>
@using Microsoft.AspNetCore.Identity
@using Group_I_M32COM.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Index";
    if (SignInManager.IsSignedIn(User))
    {
        string user_id = UserManager.GetUserId(User);
        var applicationUser = from r in _context.Roles
                              join ru in _context.UserRoles on r.Id equals ru.RoleId
                              join u in _context.Users on ru.UserId equals u.Id
                              where u.Id == user_id
                              select new User_RoleModel
                              {
                                  Role_Name = r.Name

                              };
        foreach (var item in applicationUser)
        {
            if (item.Role_Name == "User")
            {
                Layout = "~/Views/Competitor/_EventLayout.cshtml";
            }
            else
            {
                Layout = "~/Views/Admin/_AdminLayout.cshtml";
            }
        }

    }

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boat_Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_End_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_At)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_At)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Types.Event_type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boat_Types.Boat_class_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_End_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_At)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
